@media print {
  /* Page setup */
  @page {
    size: A4;
    margin: 15mm;
  }
  
  /* Hide everything */
  body > *:not(.print-content) {
    display: none !important;
  }
  
  /* Show only print content */
  .print-content {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
  }
  
  /* Remove shadows and borders */
  * {
    box-shadow: none !important;
    text-shadow: none !important;
  }
  
  /* Hide buttons in print */
  button,
  .ant-btn {
    display: none !important;
  }
}
